{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/gift.css">
{% endblock %}

{% block content %}
    <img id="ruban" src="/assets/images/ruban.png">
    <img id="left-mistletoe" src="/assets/images/mistletoe.png">
    <img id="right-mistletoe" src="/assets/images/mistletoe.png">
    <a href="/"><img id="back" src="/assets/images/left-arrow.png"></a>
    <section id="gift-idea">
        <h1>Mug peint</h1>
        <img id="marque-page" src="/assets/images/mug.jpg">
        <p>Tu auras besoin de :</p>
        <ul>
            <li>un mug blanc</li>
            <li>un marqueur rouge pour porcelaine</li>
            <li>peinture verte émeraude pour porcelaine</li>
            <li>un pinceau fin</li>
            <li>un four</li>
        </ul>
        <a href="https://www.staceystachetti.com/2018/12/diy-mon-mug-de-noel-2018.html"><h2>Aller au tuto</h2></a>
    </section>
{% endblock %}
