{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/home-desktop.css">
<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}
    <div class="home-flex">
        <div>
            <h1 class="home-title">KIDEAU</h1>
            <p class="home-slogan">Des Idées Magiques 
                <br>pour Gâter tes Parents!</p>
        </div>
        <div class="home-button">
            <p class="title-button">
                <a href="/quizz">TROUVE TON CADEAU
                    <br>
                </a>
            </p>
        </div>
    </div>
{% endblock %}
