{% extends 'layout.html.twig' %}
{% block content %}
	<body>
		<h1>Un cadeau qui plaira à tes parents !</h1>
		<div id="choix">
			<div id="questions">
				<div id="question_reponse1">
					<div id="question_1">
						<p>Quel âge as-tu ?</p>
					</div>
					<div id="reponse_1">
						<p id="t1">
							4 à 6</p>
						<p id="t2">
							7 à 9</p>
						<p id="t3">
							10 à 12</p>
						<p id="t4">
							13 à 15</p>
					</div>
					<div id="back_1"><img src='/arrow-small-left.png'/></div>
				</div>
				<div id="question_reponse2">
					<div id="question_2">
						<p>C'est pour papa ou maman ?</p>
						<p></p>
					</div>
					<div id="reponse_2">
						<p id="t5">
							Papa</p>
						<p id="t6">
							Maman</p>
					</div>
					<div id="back_2"><img src='/arrow-small-left.png'/>
					</div>
				</div>
				<div id="question_reponse3">
					<div id="question_3">
						<p>Est-ce qu'elle aime la bonne nourriture ?</p>
						<p></p>
					</div>
					<div id="reponse_3">
						<p>
							OUI
						</p>
						<p>
							NON
						</p>
					</div>
					<div id="back_3">
						<img src='/arrow-small-left.png'/>
					</div>
				</div>
				<div id="question_reponse4">
					<div id="question_4">
						<p>Est-ce qu'elle aime lire ?</p>
						<p></p>
					</div>
					<div id="reponse_4">
						<p>
							OUI
						</p>
						<p>
							NON
						</p>
					</div>
					<div id="back_4">
						<img src='/arrow-small-left.png'/>
					</div>
				</div>
				<div id="question_reponse5">
					<div id="question_5">
						<p>Tu préfère un cadeau utile ou à afficher ?</p>
						<p></p>
					</div>
					<div id="reponse_5">
						<p>
							UTILISABLE
						</p>
						<p>
							AFFICHABLE
						</p>
					</div>
					<div id="back_5">
						<img src='/arrow-small-left.png'/>
					</div>
				</div>
				<div id="question_reponse6">
					<div id="question_6">
						<p>Tu aimes te servir de tes mains ?</p>
						<p></p>
					</div>
					<div id="reponse_6">
						<p>
							OUI
						</p>
						<p>
							NON
						</p>
					</div>
					<div id="back_6">
						<img src='/arrow-small-left.png'/>
					</div>
				</div>
				<div id="question_reponse7">
					<div id="question_7">
						<p>Tu connais sa couleur préférée ?</p>
					</div>
					<div id="reponse_7">
						<p>
							ROUGE
						</p>
						<p>
							BLEU
						</p>
						<p>
							JAUNE
						</p>
						<p>
							VERT
						</p>
					</div>
					<div id="back_7">
						<img src='/arrow-small-left.png'/>
					</div>
				</div>
				<div id="question_reponse8">
					<div id="question_8">
						<p>As-tu des crayons de couleurs ou des feutres ?</p>
						<p></p>
					</div>
					<div id="reponse_8">
						<p>
							OUI
						</p>
						<p>
							NON
						</p>
					</div>
					<div id="back_8">
						<img src='/arrow-small-left.png'/>
					</div>
				</div>
			</div>
		</body>
	</body>
{% endblock %}
