{% extends 'layout.html.twig' %}
{% block content %}
	<body>
		<h1 class="elie">Un cadeau qui plaira à tes parents !</h1>
		<div id="choix">
			<div id="questions">
				<div id="question_reponse10">
					<div id="question_10">
						<p>Est-ce qu'il aime danser ?</p>
						<p></p>
					</div>
					<div id="reponse_10">
						<p class="reponse">
							OUI
						</p>
						<p class="reponse">
							NON
						</p>
					</div>
					<div id="back_10">
						<img src='/arrow-small-left.png'/>
					</div>
				</div>
				<div id="question_reponse11">
					<div id="question_11">
						<p>Est-ce qu'il aime dessiner ?</p>
					</div>
					<div id="reponse_11">
						<p class="reponse">
							OUI
						</p>
						<p class="reponse">
							NON
						</p>
					</div>
					<div id="back_11">
						<img src='/arrow-small-left.png'/>
					</div>
				</div>
				<div id="question_reponse12">
					<div id="question_12">
						<p>Est-ce qu'il aime regarder le foot ?</p>
					</div>
					<div id="reponse_12">
						<p class="reponse">
							OUI
						</p>
						<p class="reponse">
							NON
						</p>
					</div>
					<div id="back_12">
						<img src='/arrow-small-left.png'/>
					</div>
				</div>
				<div id="question_reponse13">
					<div id="question_13">
						<p>Est-ce qu'il aime boire en regardant le foot ?</p>
					</div>
					<div id="reponse_13">
						<p class="reponse">
							OUI
						</p>
						<p class="reponse">
							NON
						</p>
					</div>
					<div id="back_13">
						<img src='/arrow-small-left.png'/>
					</div>
				</div>
				<div id="question_reponse14">
					<div id="question_14">
						<p>Il boit beaucoup ?</p>
					</div>
					<div id="reponse_14">
						<p class="reponse">
							Un peu
						</p>
						<p class="reponse">
							Beaucoup
						</p>
						<p class="reponse">
							Passionnément
						</p>
						<p class="reponse">
							A la folie
						</p>
					</div>
					<div id="back_14">
						<img src='/arrow-small-left.png'/>
					</div>
				</div>
				<div id="question_reponse15">
					<div id="question_15">
						<p>Est-ce que tu aimes te servir de tes mains ?</p>
					</div>
					<div id="reponse_15">
						<p class="reponse">
							OUI
						</p>
						<p class="reponse">
							NON
						</p>
					</div>
					<div id="back_15">
						<img src='/arrow-small-left.png'/>
					</div>
				</div>
				<div id="question_reponse16">
					<div id="question_16">
						<p>Est-ce que tu as de la peinture ?</p>
					</div>
					<div id="reponse_16">
						<p class="reponse"><a href="/gift/second">
							OUI
						</a>
						</p>
						<p class="reponse"><a href="/gift/second">
							NON
						</a>
						</p>
					</div>
					<div id="back_16">
						<img src='/arrow-small-left.png'/>
					</div>
				</div>
				<div id="question_reponse17">
					<div id="question_17">
						<p>Quel âge as-tu ?</p>
					</div>
					<div id="reponse_17">
						<p class="reponse">
							4 à 6</p>
						<p class="reponse">
							7 à 9</p>
						<p class="reponse">
							10 à 12</p>
						<p class="reponse">
							13 à 15</p>
					</div>
					<div id="back_17">
						<a href="/quizz"><img src='/arrow-small-left.png'/></a>
					</div>
				</div>
			</div>
		</body>
	</body>
{% endblock %}
{% block javascript %}
	<script src="/assets/js/nextpapa.js"></script>
	<script src="/assets/js/previouspapa.js"></script>
{% endblock %}
