@media screen and (min-width: 426px) {
    body {
        background: url(../images/home/background.jpg), lightgray 50% / cover no-repeat;
        background-size: 425px;
    }

    .home-flex {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .home-flex .home-title {
        text-align: center;
        font-family: 'Mountains of Christmas', serif;
        height: 50%;
        width: 80%;
        margin-top: 2rem;
        font-size: 7rem;
        color: #f8f8f8;
    }

    .home-slogan {
        text-align: center;
        font-family: 'Mountains of Christmas', serif;
        font-size: 2.3rem;
        margin-bottom: 4rem;
        font-weight: 700;
        color: #f8f8f8;

    }

    .home-button {
        border: #f8f8f8 5px solid;
        border-radius: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #CF2525;
        opacity: 0.9;
    }

    .home-button> .title-button {
        text-align: center;
        font-family: 'Mountains of Christmas', serif;
        font-size: 2.2rem;
        padding: 1rem 1rem 1rem 1rem;
        font-weight: 700;
        color: #E7B917;
    }

    .home-button> .title-button> a {
        text-decoration: none;
        color: #E7B917;
    }

    .home-button> .title-button:hover {
        text-decoration: none;
        color: #CF2525;
    }

}
