@font-face {
    font-family: MountainsOfChristmas;
    src: url('../fonts/MountainsofChristmas.ttf');
}

body {
    background: url("/christmas.jpg"), lightgray 50% / cover no-repeat;
    background-size: 425px;
    font-family: 'Mountains of Christmas';
}

.maman_questions{
    width: 300px;
    height: 265px;
    border-radius: 20px;
    background-color: #ffffff71;
    margin-right: auto;
    margin-left: auto;
    stroke: #fff;
    stroke-width: 5px;
}

.maman_questions p{
    color: #0A0909;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.papa_questions {
    width: 300px;
    height: 265px;
    border-radius: 20px;
    background-color: #ffffff71;
    margin-right: auto;
    margin-left: auto;
    stroke: #fff;
    stroke-width: 5px;
}

.papa_questions p{
    color: #0A0909;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.maman_reponses{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.maman_reponses p{
    border-radius: 20px;
    background-color: #CF2525;
    width: 120px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #E7B917;
    font-size: 40px;
}

.papa_reponses{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.papa_reponses p{
    border-radius: 20px;
    background-color: #CF2525;
    width: 120px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #E7B917;
    font-size: 40px;
}
#question_reponse1 {
    display: none;
}

#question_reponse3 {
    display: none;
}

#question_reponse4 {
    display: none;
}

#question_reponse5 {
    display: none;
}

#question_reponse6 {
    display: none;
}

#question_reponse7 {
    display: none;
}

#question_reponse8 {
    display: none;
}

#question_reponse10 {
    display: none;
}

#question_reponse11 {
    display: none;
}

#question_reponse12 {
    display: none;
}

#question_reponse13 {
    display: none;
}

#question_reponse14 {
    display: none;
}

#question_reponse15 {
    display: none;
}

#question_reponse16 {
    display: none;
}

.elie {
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-right: 5%;
    margin-left: 5%;
}


#question_1 p {
    padding-top: 3rem;
}

#reponse_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
}

#back_1 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_1 img {
    width: 60px;
    height: 50px;
    color: #fff;

}

#reponse_2 a {
    text-decoration: none;
    color: #E7B917;
}

#reponse_8 a {
    text-decoration: none;
    color: #E7B917;
}

#reponse_16 a {
    text-decoration: none;
    color: #E7B917;
}

#back_2 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_2 img {
    width: 60px;
    height: 50px;
    color: #fff;

}


#back_3 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_3 img {
    width: 60px;
    height: 50px;
    color: #fff;

}

#question_4 p {
    padding-top: 3rem;
}

#back_4 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_4 img {
    width: 60px;
    height: 50px;
    color: #fff;
}

#reponse_5 p {
    border-radius: 20px;
    background-color: #CF2525;
    width: 150px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #E7B917;
    font-size: 30px;
}

#back_5 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_5 img {
    width: 60px;
    height: 50px;
    color: #fff;

}
#back_6 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_6 img {
    width: 60px;
    height: 50px;
    color: #fff;

}

#reponse_7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
}

#back_7 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_7 img {
    width: 60px;
    height: 50px;
    color: #fff;

}


#question_8 p {
    font-size: 48px;
    font-weight: bold;
}

#back_8 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_8 img {
    width: 60px;
    height: 50px;
    color: #fff;

}

#question_10 p {
    color: #0A0909;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding-top: 3rem;
}
#back_10 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_10 img {
    width: 60px;
    height: 50px;
    color: #fff;

}
#question_11 p {
    color: #0A0909;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding-top: 3rem;
}

#back_11 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_11 img {
    width: 60px;
    height: 50px;
    color: #fff;
}

#question_12 p {
    padding-top: 1rem;
}
#back_12 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_12 img {
    width: 60px;
    height: 50px;
    color: #fff;

}
#question_13 p {
    padding-top: 1rem;
    font-size: 47px;
}
#back_13 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_13 img {
    width: 60px;
    height: 50px;
    color: #fff;

}

#question_14 p {
    padding-top: 4rem;
}

#reponse_14 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#reponse_14 p {
    border-radius: 20px;
    background-color: #CF2525;
    width: 155px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #E7B917;
    font-size: 30px;
}

#back_14 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_14 img {
    width: 60px;
    height: 50px;
    color: #fff;

}

#question_15 p {
    padding-top: 1.5rem;
    font-size: 46px;
}

#back_15 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_15 img {
    width: 60px;
    height: 50px;
    color: #fff;

}

#question_16 p {
    padding-top: 1rem;
}

#back_16 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_16 img {
    width: 60px;
    height: 50px;
    color: #fff;

}

#question_17 p {
    padding-top: 3rem;
}

#reponse_17 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
}

#reponse_17 p {
    border-radius: 20px;
    background-color: #CF2525;
    width: 120px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #E7B917;
    font-size: 40px;
}

#back_17 {
    border-radius: 20px;
    background-color: #E7B917;
    width: 100px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back_17 img {
    width: 60px;
    height: 50px;
    color: #fff;

}
.reponse {
    cursor: pointer;
}
